
header {
    background: white;
    padding: 10px 12px;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.033);
    // position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    animation: slideUp 300ms linear;
    .container {
      display: flex;
      display: -webkit-flex;
      // max-width: 960px;
      max-width: 75%;
      // margin: 0 auto;
      // padding: 0 32px;
    }
    @media (max-width: 991px) {
      padding: 16px;
      .container {
        padding: 0;
      }
    }
    @media (max-width: 480px) {
      padding: 8px 12px;
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateY(30px);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .brand{
    color: red;
    font-size: 2rem;
  }
  // Logo
  .brand .logo {
    width: 123px;
    @media (max-width: 480px) {
      width: 102px;
      margin: 2px 0;
    }
  }
  
  // Search Box
  .search {
    // margin-left: 64px;
    margin-left: 15%;
    
    // margin-left: 85%;
    // position: absolute;
    // width: 100%;
  
    display: flex;
  
    flex-grow: 2;
    -webkit-flex-grow: 2;
    @media (max-width: 767px) {
      margin-left: 32px;
    }
    @media (max-width: 480px) {
      flex-grow: initial;
      -webkit-flex-grow: initial;
      margin-left: auto;
    }
  }
  .search-form {
    display: flex;
    display: -webkit-flex;
    width: 80%;
    
    @media (max-width: 480px) {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 8px;
      background: #fff;
      z-index: 100;
      &.active {
        display: flex;
        display: -webkit-flex;
      }
    }
    .search-keyword {
      height: 36px;
      border: 1px solid #ff0000;
      padding: 0 16px;
      border-radius: 12px 0 0 12px;
      width: 100%;
      max-width: 730px;
      &:focus {
        outline: none;
      }
      @media (max-width: 480px) {
        height: 32px;
        margin: 2px 0;
      }
    }
    .search-button {
      border-radius: 0 12px 12px 0;
      background: #ff0000
        url(https://res.cloudinary.com/sivadass/image/upload/v1494692031/icons/search.png)
        center no-repeat;
      width: 96px;
      @media (max-width: 480px) {
        height: 32px;
        margin: 2px 0;
      }
    }
  }
  // @media (min-width: 481px) {
  //   .mobile-search,
  //   .back-button {
  //     display: none;
  //   }
  // }
  // @media (max-width: 480px) {
  //   .mobile-search {
  //     display: none;
  //     height: 36px;
  //     width: 36px;
  //   }
  //   .back-button {
  //     display: none;
  //     margin-right: 8px;
  //   }
  // }
  
  

 

  @keyframes tada {
    from {
      transform: scale3d(1, 1, 1);
      opacity: 0;
    }
  
    10%,
    20% {
      transform: scale3d(0.8, 0.66, 0.66) rotate3d(0, 0, 1, -3deg);
    }
  
    30%,
    50%,
    70%,
    90% {
      transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 3deg);
    }
  
    40%,
    60%,
    80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  
    to {
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
  
  .tada {
    animation-name: tada;
    animation-duration: 300ms;
    animation-fill-mode: both;
  }
  
  .whishlist{
    justify-content: center;
    vertical-align: top;
    text-align: center;
    // display: flex;
    // display: -webkit-flex;
    position: absolute;
    // left: 5% !important;
    margin-left: 77%;
    // flex-grow: 0.5;
    text-align: justify;
    width: [width of img];
    @media (max-width: 880px) {
      display : none;
    }
  
  }
  .whishlist img {
    display: block;
    margin: 0 auto;
  }
  .whishlist p {
   
    position: absolute;
    // display: block;
    // margin: 0 auto;
    top : 60%;
    // margin-bottom: 1.5rem;
  }
  
  .button-connexion{
    position: absolute;
    // display: flex;
    // display: -webkit-flex;
    margin-left: 69%;
    @media (max-width: 800px ){
      display: none;
      width : 10px;
    }
  
  }